.__navbar {
  height: 5rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  padding-top: 5rem;
  padding-bottom: 5rem;
  transition: 0.25s ease-in;
  background: transparent;

  &.darkBg {
    color: #e6e7ed;
    background: rgba(0, 0, 0, 0.7);
  }
  &.whiteBg {
    color: #010e0b;
    background: rgba(249, 255, 254, 0.9);
  }

  .content {
    .logo {
      .img {
        width: 7.5rem;
        // height: 3rem;
      }
    }
    .menu {
      .nav2 {
        font-size: 1rem;
        font-family: Helvetica Neue_light !important;
        font-weight: 200;
        position: relative;
        transition: 0.3s ease-in;
        color: #e6e7ed;

        &:hover {
          color: #258575;
        }
      }
      .nav1 {
        font-size: 1rem;
        font-family: Helvetica Neue_light !important;
        font-weight: 200;
        position: relative;
        transition: 0.3s ease-in;
        color: #1b1b1b;

        &:hover {
          color: #258575;
        }
      }
    }
    .action {
      .cart {
        --value: 1.2rem;
        width: var(--value);
        height: var(--value);
        transition: 0.25s ease-in;
        .cartIcon {
          color: #e6e7ed;
          transition: 0.25s ease-in;
          &.color {
            color: #fff;
          }
          &.back {
            color: #e6e7ed;
          }
        }

        .no {
          top: -0.5rem;
          right: -0.5rem;
          --value: 1rem;
          width: var(--value);
          height: var(--value);
          font-size: 0.6rem;
          color: #fff;
          border-radius: 50%;
          overflow: hidden;
          //   background: $background-1;
        }
      }
      .contact {
        button {
          background-color: #258575;
          color: #fff;
          font-family: Inter;
          border: 1px solid #258575;
          border-radius: 5px;
        }
      }
      .burgerIcon {
        color: #258575;
        cursor: pointer;
        transform: scale(1);
        &.color {
          color: #fff;
        }
        &.back {
          color: #e6e7ed;
        }
      }
      .burgerIco2 {
        color: #fff;
        cursor: pointer;
        transform: scale(1);
        &.color {
          color: #fff;
        }
        &.back {
          color: #fff;
        }
      }
    }
  }

  .mobileMenu {
    top: 0;
    left: 0;
    transition: 0.3s ease-in;
    background: #fff;
    box-shadow: 0px -4px 25px rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 1050;
    &.showMenu {
      display: block;
      animation: slideIn 0.15s ease-in;
    }
    .content {
      button {
        background-color: #258575;
        color: #fff;
        font-family: Inter;
        border: 1px solid #258575;
        border-radius: 5px;
      }
    }
  }
  &.hidden {
    display: none;
    pointer-events: none;
    & > * {
      pointer-events: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .__navbar {
    // height: 3.5rem;
    min-height: 100px;
    overflow: visible;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    .content {
      .logo,
      .action {
        // width: fit-content;
      }
      .logo {
        .img {
          // width: 0.5rem;
          // height: 1rem;
          object-fit: cover;
        }
      }
      button {
        background-color: #258575;
        color: #fff;
        font-family: Inter;
        border: 1px solid #258575;
        border-radius: 5px;
      }
    }
    .mobileMenu {
      top: 0;
      left: 0;
      transition: 0.3s ease-in;
      background: #010e0b;
      box-shadow: 0px -4px 25px rgba(0, 0, 0, 0.5);
      width: 100%;
      z-index: 1050;

      &.showMenu {
        display: block;
        animation: slideIn 0.15s ease-in;
      }
      .content {
        color: #fff;
        button {
          background-color: #258575;
          color: #fff;
          font-family: Inter;
          border: 1px solid #258575;
          border-radius: 5px;
        }
      }
    }
  }
}
