@font-face {
  font-family: 'Helvetica Neue';
  src: url('../../public/assets/fonts/helvetica.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Normal';
  src: url('../../public/assets/fonts/HelveticaNeueCyr-Light.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue_light';
  src: url('../../public/assets/fonts/helvetica-light-587ebe5a59211.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue_bold';
  src: url('../../public/assets/fonts/helvetica-rounded-bold-5871d05ead8de.otf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue_italics';
  src: url('../../public/assets/fonts/Helvetica-BoldOblique.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Platform_bold';
  src: url('../../public/assets/fonts/Platform-Bold.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Platform_medium';
  src: url('../../public/assets/fonts/Platform-Medium.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Abel';
  src: url('../../public/assets/fonts/Abel-Regular.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../../public/assets/fonts/Inter-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    margin-top: 20px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slideIn2 {
  from {
    opacity: 0;
    right: -100%;
  }

  to {
    opacity: 1;
    right: 0% !important;
  }
}

html,
body,
#__next {
  padding: 0;
  margin: 0;
  font-size: 14px;
  position: relative;
  & > * {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Helvetica Neue', sans-serif;
}

.bg-dark {
  background: #010e0b;
}

.text-primary {
  color: #258575;
}

.bg-primary {
  background-color: #258575;
}

p {
  font-size: 1.6rem;
}

.button {
  font-weight: 700;
  font-size: 1.6rem;
}

.custom-container {
  max-width: 1220px;
  margin: 0 auto;
}

.custom-container2 {
  max-width: 94.9rem;
  margin: 0 auto;
}

.nav-color {
  color: #1b1b1b;
}

.text-success {
  color: #47bd8f !important;
}
.pry-success {
  color: rgba(37, 133, 117, 1) !important;
}

.h1 {
  font-size: 3rem;
  font-weight: 800;
}

.h2 {
  font-size: 3rem;
}

.h3 {
  font-size: 2.8rem;
}

.h4 {
  font-size: 1.8rem;
}

.h5 {
  font-size: 1.3rem;
}

.sub-title {
  font-size: 1.6rem;
}
.link-connect {
  background-color: #258575;
}
.link-learn {
  border: 1px solid #258575;
}
.footer-container {
  background-color: #0ecfaf;
}
.content-wrapper p {
  margin-bottom: 3rem;
  line-height: 3rem;
}

a {
  color: inherit;
  text-decoration: none !important;
}

// img {
//   max-width: 100%;
//   height: auto;
//   object-fit: cover;
//   object-position: center;
// }

h1,
h2,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 16px;
  font-family: 'Helvetica Neue';
}

hr {
  color: #000;
}

li,
span,
small,
sub,
sup,
div,
abbr {
  margin: 0;
  padding: 0;
  line-height: 16px;
  font-family: 'Helvetica Neue';
}

ul,
ol,
dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

textarea {
  resize: none;
}

button {
  border: none;
  background: transparent;
  padding: 0;
}

button,
input,
textarea {
  outline: none !important;
}

input,
textarea {
  &:focus,
  &:active {
    &::placeholder {
      opacity: 0.5;
    }
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  &::-webkit-scrollbar {
    height: 0;
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #1b1b1b;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #272727;
    border-radius: 8px;
  }
}
