.why-oasis {
  background-color: #d53908;
}

.home-banner {
  // background-color: #010e0b;
  background-image: url('../../../public/assets/images/blur_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
  .text_banner {
    color: #fff;
    font-size: 48px;
    font-family: Platform_medium;
    line-height: 1.5;
    .text-success {
      font-family: Platform_medium;
    }
    @media (max-width: 768px) {
      font-size: 30px;
    }
  }
  .sub_text1 {
    p {
      color: #e5e7eb;
      font-family: Abel;
      font-size: 18px;
      width: 80%;
      line-height: 1.5;
      @media (max-width: 768px) {
        font-size: 15px;
      }
    }
  }
  .sub_text2 {
    p {
      color: #e5e7eb;
      font-size: 18px;
      width: 80%;
      line-height: 1.5;
      font-weight: 300;
      font-family: Helvetica Normal;
      @media (max-width: 768px) {
        font-size: 15px;
      }
    }
  }
  .connect {
    background-color: #d5a100;
    border: 1px solid #d5a100;
    font-family: Inter;
    color: #fff;
    border-radius: 5px;
    // width: 30%;
    @media (max-width: 992px) {
      width: 80%;
    }
  }
  .learn {
    border: 1px solid #fff;
    border-radius: 5px;
    font-family: Inter;
    color: #fff;
    // width: 30%;
    @media (max-width: 992px) {
      width: 80%;
    }
  }
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
  //   img {
  //     width: 1000px;
  //     .home_banner_img {
  //       width: 1000px;
  //     }
  //   }
}

.overcoming {
  background-color: #fffdf8;
  position: relative;
  .radial1 {
    position: absolute;
    width: 1500px;
    height: 1500px;
    // right: 0rem;
    left: -20rem;
    opacity: 40%;
    bottom: -20rem;
    z-index: 0;
    flex-shrink: 0;
    border-radius: 400px;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(123, 97, 255, 0.14),
      rgba(123, 97, 255, 0)
    );
  }
  .radial2 {
    position: absolute;
    width: 1500px;
    height: 1500px;
    opacity: 40%;
    // right: 0rem;
    right: -40rem;
    top: -20rem;
    z-index: 0;
    flex-shrink: 0;
    border-radius: 400px;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(245, 59, 0, 0.32),
      rgba(245, 59, 0, 0)
    );
  }
  .titles {
    padding-top: 7rem;
    padding-bottom: 7rem;
    @media (max-width: 768px) {
      padding: 4rem 0;
    }
    .main_title {
      color: #258575;
      font-family: Helvetica Neue_bold;
      font-size: 14px;
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
    .sub_title {
      font-family: Platform_medium;
      font-size: 40px;
      @media (max-width: 768px) {
        font-size: 25px;
        line-height: 1.5;
      }
    }
  }
  .process {
    padding-bottom: 8rem;
    .movement {
      width: 50%;
      .success-card__image {
        width: 30rem;
        height: fit-content;
        img {
          //   max-width: 100%;
          //   height: auto;
          object-fit: cover;
          object-position: center;
        }
        @media (max-width: 768px) {
          width: 23rem;
        }
      }
      .success-card__title {
        color: rgba(0, 26, 21, 1);
        font-family: Platform_bold;
        font-weight: 500;
        font-size: 20px;
      }
      .success-card__description {
        color: rgba(0, 26, 21, 1);
        font-weight: 300;
        font-family: Helvetica Neue;
      }
      .success-card__link {
        color: #258575;
        font-weight: 700;
        z-index: 100;
      }
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
  //   .title-border {
  //     border: 1px solid #ffaf00;
  //   }
}

.why-oasis {
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
  .title {
    font-size: 14px;
    font-family: Helvetica Neue_bold;
    color: #ffc727;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  .sub_title {
    font-family: Platform_medium;
    font-size: 55px;
    @media (max-width: 768px) {
      font-size: 30px;
    }
  }
  .text {
    line-height: 1.7;
    width: 90%;
    font-size: 15px;
    color: #fff;
    font-family: Helvetica Neue;
    @media (max-width: 768px) {
      font-size: 13px;
    }
  }
  .properties {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    p {
      font-size: 12px;
      font-family: Helvetica Neue;
      font-weight: lighter;
      line-height: 1.5;
    }
  }
  .properties_button {
    border: 1px solid #fff;
    width: 30%;
    border-radius: 5px;
    font-family: Inter;
    color: #fff;
    @media (max-width: 768px) {
      width: 90%;
    }
  }
}

.world-section {
  background-color: rgba(255, 246, 221, 1);
  .texts {
    // margin-left: -4.6rem !important;
    h3 {
      color: #1b1b1b;
      font-family: Platform_medium;
      font-size: 40px;
      line-height: 1.5;
      @media (max-width: 768px) {
        font-size: 25px;
      }
    }
    .figure {
      font-family: Platform_medium;
      color: #258575;
      font-size: 35px;
      margin-bottom: 10px;
    }
    .result {
      color: #1b1b1b;
    }
    .contact {
      button {
        background-color: #258575;
        color: #fff;
        font-family: Inter;
        border: 1px solid #258575;
        border-radius: 5px;
      }
    }
    @media (max-width: 768px) {
      margin-left: 0rem !important;
    }
  }
  .map {
    background-image: url('../../../public/assets/images/map.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    @media (max-width: 400px) {
      height: 40vh;
    }
  }
}

.where {
  background-color: #010e0b;
  padding: 7rem 0;
  @media (max-width: 768px) {
    padding: 4rem 0;
  }
  h2 {
    font-family: Platform_medium;
    font-size: 48px;
    color: #fff;
    line-height: 1.5;
    @media (max-width: 768px) {
      font-size: 30px;
    }
  }
  h6 {
    font-family: Platform_medium;
  }

  .backgroundprops {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 30%;
    border-radius: 5px;
    position: relative;

    @media (max-width: 768px) {
      width: 45%;
    }
    @media (max-width: 500px) {
      width: 90%;
    }
    .initial_blur {
      position: absolute;
      bottom: 0;
      opacity: 1;
      z-index: 10;
      left: 0;
      right: 0;
      border-radius: 5px;
      backdrop-filter: blur(4px);
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.6) 88%
      );

      h6 {
        color: var(--text-color, #fff);
        font-size: 25px;
        line-height: 1;
      }
    }

    .img-overlay {
      position: absolute;
      bottom: 0;
      opacity: 0;
      z-index: 10;
      left: 0;
      right: 0;
      border-radius: 5px;
      backdrop-filter: blur(4px);
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.6) 88%
      );
      transition: opacity 1s ease;

      h6 {
        color: var(--text-color, #fff);
        display: none;
        font-size: 25px;
        @media (max-width: 500px) {
          font-size: 18px;
        }
        @media (max-width: 1200px) {
          font-size: 20px;
        }
      }
      p {
        color: #fff;
        display: none;
        font-size: 13px;
        line-height: 1.7;
        font-weight: lighter;
        font-family: Helvetica Neue;
        @media (max-width: 500px) {
          font-size: 11px;
        }
        @media (max-width: 1200px) {
          font-size: 11px;
        }
      }
      .link {
        display: none;
        color: #ffc727;
        font-family: Helvetica Neue;
      }
    }
    &:hover > .img-overlay {
      opacity: 1;
      top: 0;
      h6 {
        display: flex;
      }
      p {
        display: flex;
      }
      .link {
        display: block;
      }
    }
    &:hover > .initial_blur {
      opacity: 0;
      h6 {
        display: none;
      }
    }
  }
}

.review {
  .sweet {
    background-color: #fefdf5;
    padding-top: 5rem;
    padding-bottom: 2rem;
    @media (max-width: 768px) {
      padding: 3rem 0;
    }
    h6 {
      color: #5c5c5c;
      font-family: Helvetica Neue_bold;
      font-size: 15px;
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
    h2 {
      color: #1b1b1b;
      font-family: Platform_medium;
      font-size: 48px;
      line-height: 1.5;
      @media (max-width: 768px) {
        font-size: 25px;
      }
      @media (max-width: 992px) {
        font-size: 30px;
      }
    }
    .review_Image {
      height: fit-content;
      // width: 35rem;

      img {
        object-fit: cover;
        height: 100%;
        max-width: 75%;
        object-position: center;
      }
      // @media (max-width: 768px) {
      //   width: 10rem;
      // }
    }
  }
  .words {
    background-color: #ffc727;
    .outside-content {
      background-color: rgba(241, 243, 246, 0.26);
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      border-bottom-left-radius: 40px;
      margin-left: 4.5rem;
      margin-right: 0rem;
      margin-top: 5rem;
      margin-bottom: 5rem;
      width: 80% !important;
      .content {
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 40px;
        background-color: rgba(255, 255, 255, 1);

        p {
          font-size: 12px;
          color: rgba(92, 92, 92, 1);
          line-height: 1.5;
          font-family: Helvetica Neue_italics;

          @media (max-width: 768px) {
            font-size: 10px;
          }
        }
        .content2 {
          color: rgba(37, 133, 117, 1);
        }
        span {
          font-family: Helvetica Neue_bold;
        }
        .user {
          h5 {
            color: rgba(27, 27, 27, 1);
            font-family: Platform_medium;
            font-size: 13px;
            @media (max-width: 768px) {
              font-size: 11px;
            }
          }
        }
      }
      @media (max-width: 768px) {
        width: 100% !important;
        margin-left: 0rem;
        margin-right: 0rem;
      }
    }
  }
  .slick-dots {
    .slick-active {
      button::before {
        color: #fff !important;
      }
    }
  }
  .slick-dots {
    li {
      button::before {
        font-size: 18px;
        line-height: 0px;
        color: #fff !important;

        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
  }
}

.explore {
  background-color: #fff;
  padding: 7rem 0;
  @media (max-width: 768px) {
    padding: 3rem 0;
  }

  h3 {
    font-family: Platform_medium;
    font-size: 40px;
    color: #1b1b1b;
    line-height: 1;
    @media (max-width: 768px) {
      font-size: 30px;
    }
  }

  .explore_items {
    .cards {
      border-radius: 10px;
      h5 {
        color: rgba(41, 51, 90, 1);
        font-family: Platform_medium;
        font-size: 30px;
        @media (max-width: 768px) {
          font-size: 25px;
        }
      }
      p {
        color: rgba(84, 95, 138, 1);
        font-size: 16px;
        line-height: 1.5;
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
      .link {
        font-weight: 600;
        font-family: Helvetica Neue;
        letter-spacing: 1px;
      }
    }
  }
}

@media screen and (min-width: 990px) {
  .home-banner__wrapper {
    padding: calc(1.5rem + (100vw - 700px) * (15 - 90) / (700 - 1000)) 2rem;
  }

  .home-banner__image-wrapper {
    right: 0;
    bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .world-section__wrapper {
    background: url('../../../public/assets/images/world.png') no-repeat right;
  }
}
