footer {
  .major {
    padding: 8rem 0;
    background-color: #e7faf7;
    @media (max-width: 768px) {
      padding: 4rem 0;
    }
  }
  .alternative {
    padding: 8rem 0;
    background-color: #001a15;
    @media (max-width: 768px) {
      padding: 4rem 0;
    }
  }
  .major_text {
    color: #1b1b1b;
    font-size: 40px;
    font-family: Platform_medium;
    line-height: 1;
    @media (max-width: 768px) {
      font-size: 30px;
    }
  }
  .alternative_text {
    color: #fff;
    font-size: 40px;
    font-family: Platform_medium;
    line-height: 1;
    @media (max-width: 768px) {
      font-size: 30px;
    }
  }
  .second_alternative_text {
    color: #bebebe;
    font-size: 15px;
    font-family: Helvetica Neue;
    line-height: 1.5;
  }
  .second_major_text {
    color: #1b1b1b;
    font-size: 15px;
    font-family: Helvetica Neue;
    line-height: 1.5;
  }
  .subscribe-form {
    input {
      border-radius: 5px;
      border: 0;
      outline: 0 !important;
      font-size: 13px;
      padding: 1.2rem;
      font-family: Inter;
      width: 35rem !important;
      color: rgba(199, 199, 199, 1);
      background-color: rgba(255, 255, 255, 0.04) !important;
      @media (max-width: 768px) {
        width: 20rem !important;
      }
    }
    ::placeholder {
      color: rgba(199, 199, 199, 1);
      font-family: Inter;
    }
    button {
      background-color: #258575;
      color: #fff;
      font-family: Inter;
      border: 1px solid #258575;
      border-radius: 5px;
      // width: 100%;
    }
  }
  .new_subscribe-form {
    input {
      border-radius: 5px;
      border: 0;
      outline: 0 !important;
      font-size: 13px;
      padding: 1.2rem;
      font-family: Inter;
      width: 35rem !important;
      color: rgba(199, 199, 199, 1);
      background-color: #fff !important;
      @media (max-width: 768px) {
        width: 20rem !important;
      }
    }
    ::placeholder {
      color: rgba(199, 199, 199, 1);
      font-family: Inter;
    }
    button {
      background-color: #258575;
      color: #fff;
      font-family: Inter;
      border: 1px solid #258575;
      border-radius: 5px;
      // width: 100%;
    }
  }
  .bottom_footer {
    background-color: #fff;
    padding: 7rem 0;
    @media (max-width: 768px) {
      padding: 1rem 0;
    }

    p {
      line-height: 1.5;
      color: rgba(92, 92, 92, 0.7);
      font-weight: 500;
      font-size: 15px;
      width: 75%;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    h4 {
      color: #1b1b1b;
      font-size: 17px;
      font-family: Helvetica Neue_bold;
    }
    li {
      margin-bottom: 20px;
      @media (max-width: 768px) {
        margin-bottom: 10px;
      }
      a {
        color: #1b1b1b;
        font-size: 12px;
        font-family: Helvetica Neue_italics;
        // font-style: italic;
        &:hover {
          color: #258575;
        }
      }
    }
    .social_links {
      li {
        border: 1.5px solid #e7e7e8;
        margin-left: 10px;
        // background-color: #0c111a;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        &:hover {
          border-radius: 50%;
          height: 35px;
          width: 35px;
          background-color: #e7e7e8;
        }
      }
    }
    .border-footer {
      border-bottom: 2px solid #0a142f;
      opacity: 6%;
    }
    .footer_bottom {
      p {
        color: #1b1b1b;
        font-size: 16px;
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
      li {
        a {
          font-size: 14px;
        }
      }
    }
  }
}
