.wrapper {
  background-color: #fff;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  //   scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: #000;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ddd5;
    border-radius: 8px;
  }
}
