.about_banner {
  background-color: #f9fffe;
  z-index: 0;
  position: relative;
  padding: 10rem 0;
  @media (max-width: 768px) {
    padding: 10rem 0 7rem 0;
  }
  .radial1 {
    position: absolute;
    width: 1000px;
    height: 1000px;
    // right: 0rem;
    right: -25rem;
    opacity: 60%;
    bottom: -10rem;
    z-index: -1;
    flex-shrink: 0;
    border-radius: 400px;
    background: radial-gradient(
        51.89% 51.89% at 50% 50%,
        rgba(123, 97, 255, 0.1875) 0%,
        rgba(255, 255, 255, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  }
  .radial2 {
    position: absolute;
    width: 900px;
    height: 900px;
    opacity: 40%;

    // right: 0rem;
    left: -40rem;
    top: -20rem;
    z-index: -1;
    flex-shrink: 0;
    border-radius: 400px;
    background: radial-gradient(
        55.98% 55.98% at 50.17% 47%,
        rgba(245, 59, 0, 0.1875) 0%,
        rgba(255, 255, 255, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  }
  .title {
    color: #001a15;
    font-size: 50px;
    font-family: Platform_medium;
    line-height: 1.5;
    @media (max-width: 768px) {
      font-size: 30px;
    }
  }
  .paragraph {
    color: #5c5c5c;
    font-family: Helvetica Normal;
    font-weight: 200 !important;
    font-size: 18px;
    width: 80%;
    line-height: 1.5;
    @media (max-width: 768px) {
      width: 100%;
      font-size: 15px;
    }
  }
  .connect {
    background-color: #258575;
    border: 1px solid #258575;
    font-family: Inter;
    color: #fff;
    border-radius: 5px;
    width: 30%;
  }
  .learn {
    border: 1px solid #258575;
    border-radius: 5px;
    font-family: Inter;
    color: #258575;
    width: 30%;
  }
  .images {
    .top-12 {
      width: 23rem;
      height: 30rem;
      img {
        height: 100%;
        width: 100%;
      }
      @media (max-width: 786px) {
        height: 15rem;
      }
    }
    .bottom-12 {
      width: 25rem;
      height: 30rem;
      img {
        height: 100%;
        width: 100%;
      }
      @media (max-width: 786px) {
        height: 15rem;
      }
    }
  }
}
.who_we_are {
  padding-bottom: 5rem;
  .yellow_back {
    position: relative;

    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
    }

    .image {
      position: absolute;
      img {
        max-width: 90%;
        height: auto;
        object-fit: cover;
        object-position: center;
      }
      // top: 0;
      // left: 0;
      // right: 0;
      // bottom: 0;
    }
  }
  h1 {
    color: rgba(0, 26, 21, 1);
    font-family: Platform_medium;
    font-size: 48px;
    @media (max-width: 768px) {
      font-size: 30px;
    }
  }
  p {
    line-height: 1.5;
    color: rgba(92, 92, 92, 1);
    font-size: 16px;
    font-family: Helvetica Normal;
    @media (max-width: 768px) {
      font-size: 13px;
    }
  }
}
.why_oasis {
  .skewed_bg {
    width: 65%;
    background: #001a15;
    // height: 40em;
    float: left;
    box-sizing: border-box;
    left: 50%;
    clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
    padding: 7rem;

    h1 {
      color: #fff;
      font-size: 43px;
      font-family: Platform_medium;
      line-height: 1.5;
    }

    .why_items {
      background-color: rgba(255, 255, 255, 0.05);
      border-radius: 5px;
      p {
        color: #fff;
        font-family: Platform_medium;
        font-size: 15px;
      }
    }
    @media (max-width: 768px) {
      width: 100%;
      padding: 2.5rem;
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
      h1 {
        font-size: 23px;
        font-family: Platform_medium;
        line-height: 1.5;
      }
    }
  }
  .skewed_img {
  }
  // height: 40em !important;
  background-image: url('../../../public/assets/images/skewed_img.png');
  background-size: cover;
  background-position: 250px top;
  background-repeat: no-repeat;
}
.journey {
  background-color: #fff;
  padding-bottom: 7rem;
  .titles {
    padding-top: 7rem;
    padding-bottom: 7rem;
    @media (max-width: 768px) {
      padding: 4rem 0;
    }
    .main_title {
      color: #258575;
      font-family: Helvetica Neue_bold;
      font-size: 14px;
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
    .sub_title {
      font-family: Platform_medium;
      font-size: 40px;
      @media (max-width: 768px) {
        font-size: 25px;
        line-height: 1.5;
      }
    }
  }
  .backgroundprops {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 45vh;
    width: 30%;
    border-radius: 5px;
    position: relative;

    @media (max-width: 768px) {
      width: 45%;
      height: 50vh;
    }
    @media (max-width: 500px) {
      width: 90%;
      height: 50vh;
    }
    .backdrop-blur {
      position: absolute;
      bottom: 0;
      opacity: 1;
      z-index: 10;
      left: 0;
      right: 0;
      border-radius: 5px;
      backdrop-filter: blur(4px);
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.6) 88%
      );

      h4 {
        color: var(--text-color, #fff);
        font-size: 25px;
        line-height: 1;
        font-family: Platform_medium;
        @media (max-width: 500px) {
          font-size: 16px;
        }
        @media (max-width: 1200px) {
          font-size: 18px;
        }
      }
      p {
        color: #fff;
        font-size: 13px;
        line-height: 1.7;
        font-weight: lighter;
        font-family: Helvetica Normal;
        @media (max-width: 500px) {
          font-size: 11px;
        }
        @media (max-width: 1200px) {
          font-size: 11px;
        }
      }
      .link {
        color: #fff;
        font-family: Helvetica Neue;
      }
    }
  }
}
.methods {
  padding: 7rem 0;
  background-color: #f9fffe;
  h2 {
    font-family: Platform_medium;
    font-size: 40px;
    color: rgba(27, 27, 27, 1);
    text-align: center;
    @media (max-width: 768px) {
      line-height: 1;
      font-size: 25px;
    }
  }
  .icon {
    transform: scale(1);
    @media (max-width: 768px) {
      transform: scale(0.75);
    }
  }
  p {
    font-size: 16px;
    font-family: Platform_medium;
    @media (max-width: 768px) {
      font-size: 13px;
    }
  }
  @media (max-width: 768px) {
    padding: 4rem 0;
  }
}
.team {
  padding: 7rem 0;
  @media (max-width: 768px) {
    padding: 4rem 0;
  }
  h5 {
    color: #bebebe;
    font-size: 14px;
    font-family: Helvetica Neue_bold;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  h1 {
    font-family: Platform_medium;
    font-size: 48px;
    @media (max-width: 768px) {
      font-size: 40px;
      line-height: 1;
    }
  }
  h4 {
    font-family: Platform_medium;
    font-size: 20px;
    color: #fff;
  }
  p {
    color: #fff;
    font-size: 15px;
    font-family: Helvetica Normal;
  }
  .team_img {
    height: 22rem;
    img {
      max-width: 90%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
.student {
  h1 {
    color: rgba(0, 26, 21, 1);
    font-size: 48px;
    line-height: 1.5;
    font-family: Platform_medium;
    @media (max-width: 768px) {
      line-height: 1;
      font-size: 30px;
      text-align: center;
    }
  }
  p {
    line-height: 1.5;
    color: rgba(0, 26, 21, 1);
    font-size: 17px;
    font-family: Helvetica Normal;
    width: 75%;
    @media (max-width: 768px) {
      width: 100%;
      line-height: 1;
      font-size: 16px;
      text-align: center;
    }
  }
  .connect {
    background-color: #258575;
    border: 1px solid #258575;
    font-family: Inter;
    color: #fff;
    border-radius: 5px;
    width: 50%;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}
