.exam {
  position: relative;
  padding-top: 10rem;
  @media (max-width: 768px) {
    padding-top: 7rem;
  }
  img {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    object-position: center;
    border-radius: 5px;
  }
  h1 {
    color: rgba(0, 26, 21, 1);
    font-family: Platform_medium;
    font-size: 48px;
    line-height: 1.5;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 25px;
      line-height: 1;
    }
  }
  p {
    color: rgba(0, 26, 21, 1);
    line-height: 1.5;
    font-family: Helvetica Normal;
    font-size: 17px;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
  .radial1 {
    position: absolute;
    width: 800px;
    height: 800px;
    // right: 0rem;
    opacity: 90%;
    top: -5rem;
    z-index: 1;
    flex-shrink: 0;
    border-radius: 400px;
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(123, 97, 255, 0.14) 0%,
        rgba(123, 97, 255, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  }
}
.ielts_info {
  padding: 7rem 0;
  @media (max-width: 768px) {
    padding-top: 4rem;
  }
  p {
    color: rgba(92, 92, 92, 1);
    line-height: 1.5;
    font-family: Helvetica Normal;
    font-size: 15px;
    width: 45%;
    @media (max-width: 768px) {
      width: 100%;
      font-size: 13px;
    }
  }
  .ielts_image {
    padding-top: 4rem;
    img {
      object-fit: cover;
      height: 100%;
      max-width: 100%;
      object-position: center;
    }
  }
}
.skill {
  padding-bottom: 7rem;
  @media (max-width: 768px) {
    padding-bottom: 3rem;
  }
  img {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    object-position: center;
  }
  p {
    color: rgba(92, 92, 92, 1);
    line-height: 1.7;
    font-family: Helvetica Normal;
    font-size: 15px;
    @media (max-width: 768px) {
      font-size: 13px;
    }
  }
}
.section {
  padding-bottom: 7rem;
  @media (max-width: 768px) {
    padding-bottom: 4rem;
  }
  .gradient {
    background: linear-gradient(
      236.97deg,
      rgba(27, 27, 27, 0.063) -69.5%,
      rgba(27, 27, 27, 0) 149.11%
    );
    .step_text {
      // width: 40%;
      h4 {
        font-family: Platform_medium;
        color: rgba(0, 26, 21, 1);
        font-size: 28px;
        line-height: 1.5;
        @media (max-width: 768px) {
          font-size: 21px;
        }
        // text-shadow: 4px 4px 3px #0003;
      }
      .content {
        color: rgba(92, 92, 92, 1);
        font-size: 14.5px;
        font-family: Helvetica Normal;
        line-height: 1.5;
        width: 95%;
        @media (max-width: 768px) {
          font-size: 12px;
        }
        // text-shadow: 4px 4px 3px #0003;
      }
    }
  }
}
.last_section {
  @media (max-width: 768px) {
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .second_img {
    @media (max-width: 768px) {
      top: 0rem;
    }
    bottom: 0;
    top: 0;
    left: 3rem;
    // img {
    //   max-width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    //   object-position: center;
    // }
    // right: 0;
  }
  p {
    color: rgba(92, 92, 92, 1);
    font-size: 15px;
    font-family: Helvetica Normal;
    line-height: 1.5;
    width: 95%;
    @media (max-width: 768px) {
      font-size: 13px;
      width: 100%;
    }
  }
}
