.ielts {
  background-color: rgba(255, 228, 210, 0.61);
  padding-top: 10rem;
  @media (max-width: 768px) {
    padding-top: 5rem;
  }
  h1 {
    font-size: 48px;
    line-height: 1;
    color: rgba(0, 26, 21, 1);
    font-family: Platform_medium;
    @media (max-width: 768px) {
      font-size: 30px;
    }
  }
  .text {
    p {
      color: rgba(0, 26, 21, 1);
      font-family: Helvetica Normal;
      font-size: 17px;
      line-height: 1.5;
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
  img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .arrow {
    right: 10rem;
    bottom: 26rem;
  }
}
.steps {
  background-color: #fff;
  margin: 5rem;
  @media (max-width: 768px) {
    margin: 1rem;
  }
  .green_path {
    background-color: #258575;
    .step_text {
      width: 60%;
      @media (max-width: 768px) {
        width: 100%;
      }
      .main {
        font-family: Platform_medium;
        color: rgba(253, 234, 96, 1);
        font-size: 20px;
        text-shadow: 4px 4px 3px #0003;
        @media (max-width: 768px) {
          font-size: 16px;
        }
      }
      h4 {
        font-family: Platform_medium;
        color: #fff;
        font-size: 28px;
        line-height: 1.5;
        text-shadow: 4px 4px 3px #0003;
        @media (max-width: 768px) {
          font-size: 23px;
        }
      }
      .content {
        color: rgba(229, 231, 235, 1);
        font-size: 14.5px;
        font-family: Helvetica Normal;
        line-height: 1.5;
        text-shadow: 4px 4px 3px #0003;
        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
    .step_image {
      // width: 40%;
      img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .gradient {
    background: linear-gradient(
      236.97deg,
      rgba(27, 27, 27, 0.063) -69.5%,
      rgba(27, 27, 27, 0) 149.11%
    );
    .step_text {
      // width: 40%;
      .main {
        font-family: Platform_medium;
        color: rgba(213, 161, 0, 1);
        font-size: 20px;
        @media (max-width: 768px) {
          font-size: 16px;
        }
        // text-shadow: 4px 4px 3px #0003;
      }
      h4 {
        font-family: Platform_medium;
        color: rgba(0, 26, 21, 1);
        font-size: 28px;
        line-height: 1.5;
        @media (max-width: 768px) {
          font-size: 23px;
        }
        // text-shadow: 4px 4px 3px #0003;
      }
      .content {
        color: rgba(0, 26, 21, 1);
        font-size: 14.5px;
        font-family: Helvetica Normal;
        line-height: 1.5;
        @media (max-width: 768px) {
          font-size: 12px;
        }
        // text-shadow: 4px 4px 3px #0003;
      }
    }
  }
}
