.serviceform {
  padding: 20rem 0 10rem 0;
  background-color: rgba(210, 255, 247, 0.3);
  @media (max-width: 768px) {
    padding: 12rem 0 5rem 0;
  }
  .banner_text {
    display: contents;
    h4 {
      color: rgba(0, 26, 21, 1);
      font-size: 48px;
      font-family: Platform_medium;
      line-height: 1.5;
      text-align: center;
      @media (max-width: 768px) {
        font-size: 30px;
      }
    }
    p {
      color: rgba(0, 26, 21, 1);
      font-size: 18px;
      font-family: Helvetica Normal;
      line-height: 1.5;
      text-align: -webkit-center;
      width: 50%;
      @media (max-width: 768px) {
        width: 90%;
      }
    }
  }
  .radial1 {
    position: absolute;
    width: 800px;
    height: 800px;
    // right: 0rem;
    // right: -25rem;
    opacity: 60%;
    bottom: -10rem;
    // z-index: -1;
    flex-shrink: 0;
    border-radius: 400px;
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(123, 97, 255, 0.14) 0%,
        rgba(123, 97, 255, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  }
  .arrow {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
  }
}
.form-field {
  background-color: #fff;
  padding: 7rem 0;
  .tab {
    width: 80%;
    cursor: pointer;
    border-radius: 5px;
    border: 1.5px solid rgba(240, 240, 241, 1);
    @media (max-width: 992px) {
      width: 100%;
    }
    @media (min-width: 992px) and (max-width: 1200px) {
      width: 100%;
    }
    h4 {
      color: rgba(49, 42, 80, 1);
      font-size: 18px;
      font-family: Helvetica Neue_bold;
      margin-left: 15px;
      margin-bottom: 5px;
      @media (max-width: 768px) {
        font-size: 15px;
      }
    }
    p {
      color: rgba(92, 92, 92, 1);
      font-size: 10px;
      font-family: Helvetica Neue;
      margin-left: 15px;
      margin-top: 5px;
    }
    &.active {
      border: 1.5px solid rgba(37, 133, 117, 1);
    }
  }
  .myform {
    background-color: rgba(254, 254, 254, 1);
    border: 1px solid rgba(68, 94, 124, 0.08);
    border-radius: 5px;
    box-shadow: 0em 0em 1em 5px rgba(187, 187, 187, 0.25);

    .form-title {
      color: rgba(49, 42, 80, 1);
      h3 {
        font-family: Helvetica Neue_bold;
        line-height: 1.5;
      }
      p {
        font-size: 15px;
        font-family: Helvetica Neue;
      }
    }

    .form {
      padding: 1rem 0;
      @media (max-width: 768px) {
        padding: 0.5rem 0;
      }
      label {
        color: rgba(52, 64, 84, 1);
      }
      input {
        border: 1px solid rgba(208, 213, 221, 0.76);
        box-shadow: 0em 0em 0.8em 0px rgba(16, 24, 40, 0.05);
        padding: 15px;
        border-radius: 10px;
        font-family: Helvetica Neue;
      }
      .react-dropdown-select {
        border: 1px solid rgba(208, 213, 221, 0.76);
        box-shadow: 0em 0em 0.8em 0px rgba(16, 24, 40, 0.05);
        // padding: 15px;
        border-radius: 10px;
        .react-dropdown-select-content {
          align-items: center;
          justify-content: center;
          input {
            border: 0px solid red;
            border-radius: 0px;
            box-shadow: 0em 0em 0em 0px rgba(187, 187, 187, 0.25);
          }
        }
        .react-dropdown-select-dropdown {
          max-height: 150px;
          overflow-y: scroll;
        }
      }
      .intl-tel-input {
        .allow-dropdown {
          .separate-dial-code {
          }
        }
      }
      .intl-tel-input {
        width: 100% !important;
        .flag-container {
          .selected-flag {
            border-radius: 10px !important;
            display: flex !important;
            .selected-dial-code {
              padding-left: 0 !important;
            }
          }
        }
        .intl-tel-input {
          width: 100% !important;
        }
      }
      //   .css-13cymwt-control {
      //     border: 1px solid rgba(208, 213, 221, 0.76);
      //     box-shadow: 0em 0em 1em 2px rgba(16, 24, 40, 0.05);
      //     padding: 5px 0 !important;
      //     border-radius: 10px;
      //     font-family: Helvetica Neue;
      //   }
    }
    .amount {
      border: 1px solid rgba(208, 213, 221, 0.76);
      box-shadow: 0em 0em 0.8em 0px rgba(16, 24, 40, 0.05);
      padding: 20px;
      border-radius: 10px;
      font-family: Helvetica Neue;
      p {
        color: rgba(84, 110, 122, 1);
        font-size: 14px;
      }
      h5 {
        color: rgba(7, 22, 51, 1);
        font-family: Helvetica Neue_bold;
        font-size: 22px;
      }
    }
    button {
      background-color: #258575;
      color: #fff;
      font-family: Inter;
      border: 1px solid #258575;
      border-radius: 5px;
    }
  }
}
