.blogs {
  // padding-top: 10rem;
  // @media (max-width: 768px) {
  //   padding-top: 7rem;
  // }

  .green_bg {
    background-color: rgba(37, 133, 117, 1);
    height: 550px;
    padding: 20rem 15rem 0 15rem;
    @media (max-width: 768px) {
      height: fit-content;
      padding: 10rem 2rem 3rem 2rem;
    }
    @media (min-width: 768px) and (max-width: 992px) {
      padding: 30rem 3rem 0 3rem;
    }

    h4 {
      color: #fff;
      font-family: Platform_medium;
      line-height: 1;
      font-size: 38px;
      @media (max-width: 768px) {
        font-size: 30px;
      }
    }
    p {
      color: rgba(229, 231, 235, 1);
      font-family: Helvetica Normal;
      font-size: 16px;
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
    }
  }
  .white_bg {
    background-color: rgba(226, 255, 250, 0.28);
    padding: 10rem 15rem 5rem 15rem;
    @media (max-width: 768px) {
      padding: 3rem;
    }
    @media (min-width: 768px) and (max-width: 992px) {
      padding: 18rem 3rem 3rem 3rem;
    }
    p {
      line-height: 1.5;
      color: rgba(92, 92, 92, 1);
      font-size: 15px;
      font-family: Helvetica Normal;
      -webkit-line-clamp: 4;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      @media (max-width: 768px) {
        font-size: 12px;
        -webkit-line-clamp: 4;
      }
    }
    .link {
      color: rgba(37, 133, 117, 1);
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      text-decoration: underline !important;
      @media (max-width: 768px) {
        font-size: 13px;
      }
      .arrow {
        transform: scale(1);
        @media (max-width: 768px) {
          transform: scale(0.7);
        }
      }
    }
  }
  .category {
    background-color: rgba(226, 255, 250, 0.28);
    h4 {
      font-family: Platform_medium;
      font-size: 38px;
      color: (0, 0, 0, 1);
      @media (max-width: 768px) {
        font-size: 30px;
      }
    }
    p {
      //   line-height: 1.5;
      color: rgba(92, 92, 92, 1);
      font-size: 18px;
      font-family: Helvetica Normal;
      @media (max-width: 768px) {
        font-size: 15px;
      }
    }
    .category_list {
      color: rgba(190, 190, 190, 1);
      font-size: 12px;
      font-family: Helvetica Neue;
      border: 1px solid rgba(190, 190, 190, 1);
      border-radius: 30px;
      background-color: #fff;
      cursor: pointer;

      &:hover {
        border: 1px solid rgba(213, 161, 0, 1);
        color: rgba(213, 161, 0, 1);
      }
      @media (max-width: 768px) {
        font-size: 10px;
      }
    }
  }
  .latest {
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .categories {
      color: rgba(213, 161, 0, 1);
      font-size: 12px;
      font-family: Helvetica Neue;
      border: 1px solid rgba(213, 161, 0, 1);
      border-radius: 30px;
      cursor: pointer;
      @media (max-width: 768px) {
        font-size: 10px;
      }
    }
    .date {
      color: rgba(92, 92, 92, 1);
      font-size: 11px;
      @media (max-width: 768px) {
        font-size: 9px;
      }
    }
    .title {
      color: rgba(0, 26, 21, 1);
      font-family: Platform_medium;
      font-size: 33px;
      line-height: 1.2;
      @media (max-width: 768px) {
        font-size: 25px;
      }
      //   width: 93%;
    }
    .content {
      color: rgba(92, 92, 92, 1);
      font-size: 16px;
      font-family: Helvetica Neue;
      line-height: 1.5;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
    .link {
      color: rgba(37, 133, 117, 1);
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      text-decoration: underline !important;
      @media (max-width: 768px) {
        font-size: 13px;
      }
      .arrow {
        transform: scale(1);
        @media (max-width: 768px) {
          transform: scale(0.7);
        }
      }
    }
  }
}
